<meta charset="utf-8"/>
<div id="body">
	<!-- 轮播图 -->
	<div class="carousel">
		<div class="layui-carousel" id="carousel">
		    <div carousel-item="">
		    	<div th:each="activity:${activityList}">
		        	<a th:href="'/activity/' + ${activity.id}" target="_blank">
		        		<img th:src="${activity.img}" width="1170px" height="440px">
		        	</a>
	        	</div>
		    </div>
		</div>
	</div>
	
	<!-- body主体 -->
		
	<!-- 最新博客 -->
	<!-- <div class="container" style="border: 1px solid; margin: 10px auto;">
		最新博客
	</div> -->
	
	<!-- open开源介绍 -->
	<div class="container open">
		<b class="title">Open 开源组件</b>
		<a href="/open/getlist/1" target="_blank" class="text-right">(More)</a>
		<div class="media openMedia" th:each="open:${openOSList}">
			<div class="media-left">
				<a th:href="'/open/' + ${open.id}" target="_blank">
					<img class="media-object openImg" th:src="${open.img}">
				</a>
			</div>
			<div class="media-body">
				<a th:href="'/open/' + ${open.id}" target="_blank">
					<span class="media-heading" th:text="${open.name}" style="font-size: 20px;"></span>
					<span th:text="'分享量:' + ${open.share} + ' | 点击量:' + ${open.view}"></span>
					<p class="text-capitalize" th:text="${open.summary}"></p>
				</a>
			</div>
		</div>
	</div>
	
	<!-- 技术文档 -->
	<div class="container document">
		<div class="documenttitle">
			<b class="text-left">技术文档</b>
			<a href="/document/getlist/1" target="_blank" class="text-right">(More)</a>
		</div>
		<div class="documentbody" th:each="document:${documentList}">
			<a th:href="'/document/' + ${document.id}" target="_blank">
				<img th:src="${document.img}" width="200px" height="150px">
			</a>
			<div>
				<a th:href="'/document/' + ${document.id}" target="_blank">
					<span th:text="${document.name + '-' + document.author}"></span>
				</a>
			</div>
			<div class="documentsummary">
				<a th:href="'/document/' + ${document.id}" target="_blank">
					<span th:if="${#strings.length(document.summary) > 28}" th:text='${#strings.abbreviate(document.summary,25)}'></span>
					<span th:if="${#strings.length(document.summary) <= 28}" th:text='${document.summary}'></span>
				</a>
			</div>
		</div>
	</div>
</div>