<meta charset="utf-8"/>
<div id="foot">
	<!-- 底部 -->
	<footer class="foot">
		<div class="container" style="padding: 20px; font-size: 16px;">
			<p class="text-left">站长微信：13714312440&nbsp;&nbsp;|&nbsp;&nbsp;QQ：2100363119&nbsp;&nbsp;|&nbsp;&nbsp;163邮箱：18500399506@163.com</p>
			<p class="text-left">lemon1234 qq群：1108075065</p>
			<p class="text-left">
				<a href="https://blog.csdn.net/weixin_45908370" target="_blank">胖子胖子大胖子的博客</a>&nbsp;&nbsp;|&nbsp;
				<a href="https://weibo.com/u/6877512879?is_all=1" target="_blank">大胖子LEMON的微博</a>&nbsp;&nbsp;|&nbsp;
				<a href="https://space.bilibili.com/326113391" target="_blank">Bilibili</a>&nbsp;&nbsp;|&nbsp;
				<a href="https://github.com/soul-sys/" target="_blank">GitHub</a>&nbsp;&nbsp;
			</p>
			<p class="text-left">
				 蒙ICP备20002773号-1&nbsp;&nbsp;|&nbsp;
				<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030902002178">
				<img src="/img/record.png"/>
				粤公网安备 44030902002178号</a>
				&nbsp;&nbsp;|&nbsp;
				&copy;Copyright 2020 lemon1234 版权所有
			</p>
			<p class="text-left">
				<font style="font-size: 15px;">免责声明：网站仅供读者预览及学习交流使用，下载后请24小时内删除，如果喜欢请购买正版资源!原作者如果认为本站侵犯了您的版权,请QQ告知,我们会立即删除!</font>
			</p>
			<div class="text-left">
				友情链接鸣谢：
				<span th:each="link,state:${application.linkList}">
					<a th:href="${link.url}" target="_blank" th:text="${link.name}"></a>
					<span th:if="${state.last==false}">&nbsp;|&nbsp;</span>
				</span>
			</div>
		</div>
	</footer>
</div>
