<meta charset="UTF-8"/>
<div id="menu">
	<ul class="nav nav-pills">
	  <li role="presentation"><a href="/">首页</a></li>
	  
	  <!-- 到时候弄一些项目上到二级域名下面 列表 -->
	  <li role="presentation"><a href="/project/getAllProject/1">Java开源项目</a></li>
	  
	  <!-- alibaba 文档、springboot文档 -->
	  <li role="presentation"><a href="/document/getAllDocument">技术文档</a></li>
	  
	  <!-- CAS、MD5属于技术 -->
	  <li role="presentation"><a href="/technology/getAllTechno">技术干货</a></li>
	  
	  <!-- 技术路线 -->
	  <li role="presentation"><a href="/studyRoad/getAllStudyRoad">学习路线</a></li>
	  
	  <!-- 站长介绍 -->
	  <li role="presentation"><a href="/authorInfo/getAuthorInfo">站长宝宝</a></li>
	</ul>
</div>