<meta charset="utf-8"/>
<div id="anno">
	<div style="width: 1170px; margin: 20px auto;">
		<span class="layui-breadcrumb">
			<a href="/">首页</a>
			<a><cite th:text="${anno.title}"></cite></a>
		</span>
		<div style="width: 100%; min-height:700px; margin: 20px auto; padding: 5px; word-wrap:break-word;" id="content">
			<h1 th:text="${anno.title}" style="text-align: center;"></h1>
			<p class="text-center" th:text="'发布时间: ' + ${#dates.format(anno.createDt,'yyyy-MM-dd HH:mm:ss')}">
			</p>
			
			<hr>
			
			<p class="text-capitalize" th:utext="${anno.content}">
			
			</p>
		</div>
	</div>
</div>
