<meta charset="utf-8"/>
<div id=route>
	<div style="width: 1170px; margin: 20px auto;">
		<span class="layui-breadcrumb">
			<a href="/">首页</a>
			<a><cite>Java 学习路线图</cite></a>
		</span>
		<div style="width: 100%; min-height:5000px; margin: 0px auto; padding: 5px; font-size: 12px;">
			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
				<legend>Java 学习路线图</legend>
			</fieldset>
			<ul class="layui-timeline">
				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis"></i>
					<div class="layui-timeline-content layui-text">
						<h3 class="layui-timeline-title">一、基础知识</h3>
						<table class="layui-table" style="width: 800px;">
							<colgroup>
								<col width="50">
								<col width="200">
								<col width="200">
								<col width="150">
							</colgroup>
							<thead>
							<tr>
								<th>序号</th>
								<th>学习内容</th>
								<th>课程链接地址</th>
								<th>视频地址</th>
							</tr>
							</thead>
							<tbody>
								<tr>
									<td>00</td>
									<td>Eclipse/IDEA工具的使用</td>
									<td><a href="https://blog.csdn.net/weixin_45908370/category_9620895.html" target="_blank">Eclipse/IDEA工具的使用</a></td>
									<td>暂无</td>
								</tr>
								<tr>
									<td>01</td>
									<td>J2EE 基础</td>
									<td><a href="https://blog.csdn.net/weixin_45908370/category_9622126.html" target="_blank">Java_基础</a></td>
									<td>暂无</td>
								</tr>
								<tr>
									<td>02</td>
									<td>Java 23种设计模式</td>
									<td><a href="https://blog.csdn.net/weixin_45908370/category_9623620.html" target="_blank">Java_23种设计模式</a></td>
									<td>暂无</td>
								</tr>
								<tr>
									<td>03</td>
									<td>MySQL数据库</td>
									<td><a href="https://blog.csdn.net/weixin_45908370/category_9849493.html" target="_blank">Mysql_基础</a></td>
									<td>暂无</td>
								</tr>
								<tr>
									<td>04</td>
									<td>JDBC</td>
									<td><a href="https://blog.csdn.net/weixin_45908370/category_10229180.html" target="_blank">JDBC</a></td>
									<td>暂无</td>
								</tr>
								<tr>
									<td colspan="4">掌握要点</td>
								</tr>
								<tr>
									<td colspan="4">
										<p>1. 认识Java、知道如何安装、使用IDE、这里推荐大家使用Eclipse，IDEA也行啊，主要是还得破解。</p>
										<p>2. 学会Java基础知识，知道各种数据类型、集合、线程、IO、泛型、异常等等，都需要熟练掌握，学以致用</p>
										<p>3. 设计模式不着急一下都学会，但是要知道这个设计模式是啥玩意，有多少个，分别是啥，用来干啥的都</p>
										<p>4. 熟练使用数据库，一些常用的命令都得知道啊。还有就是触发器、存储过程、函数，索引，还有视图啥的，都得会</p>
										<p>5. 一定要知道 JDBC 是如何连接各种类型的数据库，如何连接，掌握JDBC调用存储过程、函数，啥的，还有就是要知道事务这个概念(很重要)</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</li>

				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis"></i>
					<div class="layui-timeline-content layui-text">
						<h3 class="layui-timeline-title">二、静态网页</h3>
						<table class="layui-table" style="width: 800px;">
							<colgroup>
								<col width="50">
								<col width="200">
								<col width="200">
								<col width="150">
							</colgroup>
							<thead>
							<tr>
								<th>序号</th>
								<th>学习内容</th>
								<th>课程链接地址</th>
								<th>视频地址</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>01</td>
								<td>HTML、css、jQuery</td>
								<td><a href="https://blog.csdn.net/weixin_45908370/category_10205205.html" target="_blank">HTML+css+jQuery</a></td>
								<td>暂无</td>
							</tr>
							<tr>
								<td colspan="4">掌握要点</td>
							</tr>
							<tr>
								<td colspan="4">
									<p>1. 常用的 HTML 标签一定要会，a标签啊，p标签啊等等啊，不然到时候网页的样式都不会调整</p>
									<p>2. 常用的 css 样式也得熟记，知道每个样式能干啥，怎么用，盒模型、布局啥的都得能弄明白</p>
									<p>3. jQuery 虽说比较复杂，但是要懂得如何去使用，简单的一些要做到能写，就算写不出来也得脑海中有个大概</p>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</li>

				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis"></i>
					<div class="layui-timeline-content layui-text">
						<h3 class="layui-timeline-title">三、动态网页</h3>
						<table class="layui-table" style="width: 800px;">
							<colgroup>
								<col width="50">
								<col width="200">
								<col width="200">
								<col width="150">
							</colgroup>
							<thead>
							<tr>
								<th>序号</th>
								<th>学习内容</th>
								<th>课程链接地址</th>
								<th>视频地址</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>01</td>
								<td>Java_7种设计原则</td>
								<td><a href="https://blog.csdn.net/weixin_45908370/category_9629665.html" target="_blank">Java_7种设计原则</a></td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>02</td>
								<td>Servlet & JSP</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td colspan="4">掌握要点</td>
							</tr>
							<tr>
								<td colspan="4">
									<p>1. Java 7种设计原则，这个一定要知道，而且熟记于心，不知道这个，可以说你的项目一定是乱七八糟的</p>
									<p>2. Servlet 里面的一些概念、声明周期，九大内置对象、四个作用域要知道，会用</p>
									<p>3. JSP 代替了传统的HTML页面，但是这个家伙快被时代淘汰了，但是，这里还有一些其他的知识，EL表达式、JSTL等等，这些都要会</p>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</li>

				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis"></i>
					<div class="layui-timeline-content layui-text">
						<h3 class="layui-timeline-title">四、HTML进阶</h3>
						<table class="layui-table" style="width: 800px;">
							<colgroup>
								<col width="50">
								<col width="200">
								<col width="200">
								<col width="150">
							</colgroup>
							<thead>
							<tr>
								<th>序号</th>
								<th>学习内容</th>
								<th>课程链接地址</th>
								<th>视频地址</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>01</td>
								<td>BootStrap</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>02</td>
								<td>Layui</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>03</td>
								<td>Ajax & Json</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>04</td>
								<td>HTML5 & css3</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td colspan="4">掌握要点</td>
							</tr>
							<tr>
								<td colspan="4">
									<p>1. BootStrap 和 Layui 这俩都是我们以后开发前端常用的框架，所以要掌握，要学会看文档</p>
									<p>2. Ajax 要熟练掌握，会异步的调用后端，还要会Json这种数据，掌握它的格式</p>
									<p>3. HTML5 和 css3 虽然刚出来没多久，但是这个很强大，要学会一部分</p>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</li>

				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis"></i>
					<div class="layui-timeline-content layui-text">
						<h3 class="layui-timeline-title">五、后端框架A</h3>
						<table class="layui-table" style="width: 800px;">
							<colgroup>
								<col width="50">
								<col width="200">
								<col width="200">
								<col width="150">
							</colgroup>
							<thead>
							<tr>
								<th>序号</th>
								<th>学习内容</th>
								<th>课程链接地址</th>
								<th>视频地址</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>01</td>
								<td>Struts2</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>02</td>
								<td>Hibernate</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>03</td>
								<td>Spring</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>04</td>
								<td>SpringMVC</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>05</td>
								<td>Mybatis</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td colspan="4">掌握要点</td>
							</tr>
							<tr>
								<td colspan="4">
									<p>1. 掌握struts，像它的原理、拦截器、OGNL等等，都要会</p>
									<p>2. 掌握 Hibernate 的工作原理，流程，学会它的映射，以及实体的对应关系，一对多，多对一要能知道。</p>
									<p>3. 一定要掌握Spring，它的两个核心特性，IOC 和 AOP，熟悉Spring的事务、注解等</p>
									<p>4. 一定要掌握springMVC的常用注解，知道这些主键怎么用，区别是啥，以及RestFul风格</p>
									<p>5. 一定要掌握Mybatis的运行机制、配置、动态SQL，尤其是这个动态SQL！！！</p>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</li>

				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis"></i>
					<div class="layui-timeline-content layui-text">
						<h3 class="layui-timeline-title">六、Java 常用组件</h3>
						<table class="layui-table" style="width: 800px;">
							<colgroup>
								<col width="50">
								<col width="200">
								<col width="200">
								<col width="150">
							</colgroup>
							<thead>
							<tr>
								<th>序号</th>
								<th>学习内容</th>
								<th>课程链接地址</th>
								<th>视频地址</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>01</td>
								<td>Maven</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>02</td>
								<td>Shiro</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>03</td>
								<td>Lucene</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>04</td>
								<td>Activiti</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>05</td>
								<td>Poi</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>06</td>
								<td>Redis</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>07</td>
								<td>Log4j</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>08</td>
								<td>ElasticSearch</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td colspan="4">掌握要点</td>
							</tr>
							<tr>
								<td colspan="4">
									<p>1. 掌握Maven 常用命令，知道Maven工作流程，配置啥的都得会，后期项目的jar全靠它管理</p>
									<p>2. Shiro的身份认证、授权、以及整合Spring等等，都要明白，因为安全框架是重点</p>
									<p>3. Lucene也同样是重点，了解分词、文档的检索等</p>
									<p>4. 了解工作流，简单会写一个工作流即可</p>
									<p>5. 会创建Excel、导入导出即可</p>
									<p>6. Redis的常用命令，以及Jedis的使用都得需要熟练</p>
									<p>7. 会配置log4j日志，知道如何去管理日志文件</p>
									<p>8. 前提学过Centos，可以自己搭建一个ElasticSearch搜索服务器</p>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</li>

				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis"></i>
					<div class="layui-timeline-content layui-text">
						<h3 class="layui-timeline-title">七、服务器 Linux操作系统</h3>
						<table class="layui-table" style="width: 800px;">
							<colgroup>
								<col width="50">
								<col width="200">
								<col width="200">
								<col width="150">
							</colgroup>
							<thead>
							<tr>
								<th>序号</th>
								<th>学习内容</th>
								<th>课程链接地址</th>
								<th>视频地址</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>01</td>
								<td>Centos</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>02</td>
								<td>Docker</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>03</td>
								<td>Nginx</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td colspan="4">掌握要点</td>
							</tr>
							<tr>
								<td colspan="4">
									<p>1. Linux常用命令掌握</p>
									<p>2. Docker思想的理解，常用命令的掌握，会部署一些常用镜像，DockerFile也需要熟练掌握</p>
									<p>3. 懂Nginx反向代理的目的，会使用Nginx，部署配置</p>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</li>

				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis"></i>
					<div class="layui-timeline-content layui-text">
						<h3 class="layui-timeline-title">八、后端框架B</h3>
						<table class="layui-table" style="width: 800px;">
							<colgroup>
								<col width="50">
								<col width="200">
								<col width="200">
								<col width="150">
							</colgroup>
							<thead>
							<tr>
								<th>序号</th>
								<th>学习内容</th>
								<th>课程链接地址</th>
								<th>视频地址</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>01</td>
								<td>SpringBoot</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>02</td>
								<td>Spring Cloud</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>03</td>
								<td>Mybatis-plus</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td colspan="4">掌握要点</td>
							</tr>
							<tr>
								<td colspan="4">
									<p>1. 了解分布式架构，知道如何去架构一个项目</p>
									<p>2. 熟练使用Springboot开发项目，要会配置各种文件等</p>
									<p>3. Spring Cloud 是一个大头，知道常用组件的配合，配置，会部署一个基础的Spring Cloud的项目</p>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</li>

				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis"></i>
					<div class="layui-timeline-content layui-text">
						<h3 class="layui-timeline-title">九、项目管理</h3>
						<table class="layui-table" style="width: 800px;">
							<colgroup>
								<col width="50">
								<col width="200">
								<col width="200">
								<col width="150">
							</colgroup>
							<thead>
							<tr>
								<th>序号</th>
								<th>学习内容</th>
								<th>课程链接地址</th>
								<th>视频地址</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>01</td>
								<td>SVN</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>02</td>
								<td>Git</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td colspan="4">掌握要点</td>
							</tr>
							<tr>
								<td colspan="4">
									<p>1. SVN 和 Git都是项目管理工具，要会他俩的常用命令，知道如何去修改冲突项目，合并项目等</p>
									<p>2. 会自己在本地搭建一个SVN，上传项目</p>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</li>

				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis"></i>
					<div class="layui-timeline-content layui-text">
						<h3 class="layui-timeline-title">十、前端进阶</h3>
						<table class="layui-table" style="width: 800px;">
							<colgroup>
								<col width="50">
								<col width="200">
								<col width="200">
								<col width="150">
							</colgroup>
							<thead>
							<tr>
								<th>序号</th>
								<th>学习内容</th>
								<th>课程链接地址</th>
								<th>视频地址</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>01</td>
								<td>Vue</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>02</td>
								<td>ES6</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>03</td>
								<td>Element</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td colspan="4">掌握要点</td>
							</tr>
							<tr>
								<td colspan="4">
									<p>1. 熟悉Vue标签，了解工作原理机制，可以自己搭建一个项目，和后端配合做一些简单的功能</p>
									<p>2. ES6是配合Vue一起的，可以一起学习</p>
									<p>3. Element是一个Vue封装框架，可以配合Vue一起学习</p>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</li>

				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis"></i>
					<div class="layui-timeline-content layui-text">
						<h3 class="layui-timeline-title">十一、其他数据库</h3>
						<table class="layui-table" style="width: 800px;">
							<colgroup>
								<col width="50">
								<col width="200">
								<col width="200">
								<col width="150">
							</colgroup>
							<thead>
							<tr>
								<th>序号</th>
								<th>学习内容</th>
								<th>课程链接地址</th>
								<th>视频地址</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>01</td>
								<td>Oracle</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td>02</td>
								<td>H2</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td colspan="4">掌握要点</td>
							</tr>
							<tr>
								<td colspan="4">
									<p>1. Oracle数据库一定要会，常用命令以及安装配置</p>
									<p>2. 掌握嵌入式数据库，会简单命令，可以自己搭建一个数据库</p>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</li>

				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis"></i>
					<div class="layui-timeline-content layui-text">
						<h3 class="layui-timeline-title">十二、小程序</h3>
						<table class="layui-table" style="width: 800px;">
							<colgroup>
								<col width="50">
								<col width="200">
								<col width="200">
								<col width="150">
							</colgroup>
							<thead>
							<tr>
								<th>序号</th>
								<th>学习内容</th>
								<th>课程链接地址</th>
								<th>视频地址</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>01</td>
								<td>小程序</td>
								<td>暂无</td>
								<td>暂无</td>
							</tr>
							<tr>
								<td colspan="4">掌握要点</td>
							</tr>
							<tr>
								<td colspan="4">
									<p>1. 会小程序开发，原生 或者 Vue 二者需要掌握一种</p>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</li>

				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis"></i>
					<div class="layui-timeline-content layui-text">
						<div class="layui-timeline-title">待续...</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>