<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemon1234.mapper.ApacheOSTypeMapper">

    <resultMap type="ApacheOSType" id="ApacheOSTypeResult">
    </resultMap>

    <select id="getById" parameterType="ApacheOSType" resultMap="ApacheOSTypeResult">
        select * from t_apacheostype where id = #{id}
    </select>
    
    <select id="getlist" parameterType="Map" resultMap="ApacheOSTypeResult">
    	SELECT * FROM t_apacheostype
    	ORDER BY sort
    	<if test="page != null and limit != null">
			limit #{page},#{limit}
		</if>
    </select>
    
    <select id="getCount" parameterType="Map" resultType="Integer">
    	SELECT COUNT(1) FROM t_apacheostype
    </select>
    
    <delete id="delete" parameterType="Integer">
    	DELETE FROM t_apacheostype 
    	WHERE id = #{id}
    </delete>
    
    <update id="update" parameterType="ApacheOSType">
    	UPDATE t_apacheostype
    	<set>
    		<if test="name != null">
    			name = #{name},
    		</if>
    		<if test="sort != null">
    			sort = #{sort},
    		</if>
    	</set>
    	WHERE id = #{id}
    </update>

	<insert id="addApacheOSType" parameterType="ApacheOSType">
		INSERT INTO t_apacheostype(id, name, sort)
		VALUES(null, #{name}, #{sort})
	</insert>
</mapper>