<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemon1234.mapper.OpenOSTypeMapper">

    <resultMap type="OpenOSType" id="OpenOSTypeResult">
    </resultMap>

    <select id="getById" parameterType="OpenOSType" resultMap="OpenOSTypeResult">
        select * from t_openostype where id = #{id}
    </select>
    
    <select id="getlist" parameterType="Map" resultMap="OpenOSTypeResult">
    	SELECT * FROM t_openostype
    	ORDER BY sort
    	<if test="page != null and limit != null">
			limit #{page},#{limit}
		</if>
    </select>
    
    <select id="getCount" parameterType="Map" resultType="Integer">
    	SELECT COUNT(1) FROM t_openostype
    </select>
    
    <delete id="delete" parameterType="Integer">
    	DELETE FROM t_openostype 
    	WHERE id = #{id}
    </delete>
    
    <update id="update" parameterType="OpenOSType">
    	UPDATE t_openostype
    	<set>
    		<if test="name != null">
    			name = #{name},
    		</if>
    		<if test="sort != null">
    			sort = #{sort},
    		</if>
    	</set>
    	WHERE id = #{id}
    </update>

	<insert id="addOpenOSType" parameterType="OpenOSType">
		INSERT INTO t_openostype(id, name, sort)
		VALUES(null, #{name}, #{sort})
	</insert>
</mapper>