@charset "UTF-8";

	a:link{
		color:#000000;
		text-decoration:none;
		font-size: 15px;
	}
	a:visited {
		color:#000000;
		text-decoration:none;
	}
	a:hover {
		color:#000000;
		text-decoration:none;
	}
	a:active {
		color:#000000;
		text-decoration:none;
	}
	
	ul {
		list-style:none;
	}
	
	li {
		float:left;
	}
	
	.logo {
		width: 5%;
		height: 5%;
	}
	
	.index_head {
		overflow:visible;
	}
	
	.head_small_span {
		padding: 1%;
		font-size: 15px;
		float:right;
		margin-top: 0.5%;
		margin-right:2%;
		background-color: purple;
	}
	
	.head_page {
		margin-top: 20px;
	}
	
	.head_small_span a {
		color: white;
	}
	
	.index_menu {
		padding-bottom: 10px;
		overflow:visible;
	}
	
	.index_body {
		height: auto;
		background-color: ;
	}
	
	.index_body_div {
		padding: 1%;
		background-color: #FDFDFD;
		margin-top: 0px;
		margin-bottom: 1%;
		z-index:10;
		background-color: white;
		margin-top: 1%;
		float: left;
		display: block;
		height: 10%;
	}
	
	.data_list {
		border: 1px solid #000;
		padding: 10px;
		background-color: #FDFDFD;
		margin-top: 0px;
		margin-bottom: 10px;
	}
	
	.data_list .data_list_title {
		font-size: 15px;
		font-weight: 3px;
		border-bottom: 1px solid #E5E5E5;
		padding-bottom: 10px;
		padding-top: 5px;
	}
	
	.datas {
		padding: 2%;
	}
	.datas p{
		font-size: 15px;
	}
	.last_p {
		margin-top: 1%;
		margin-left: 85%;
	}
	
	.link {
		margin-top: 1%;	
	}
	
	.index_foot {
		padding-top: 20px;
		padding-bottom: 20px;
	}
