<meta charset="UTF-8">
<div id="authorInfo">
	<div class="index_body">
		<div class="data_list">
			<div class="data_list_title">
				<samp class="glyphicon glyphicon-user"></samp>
				关于站长
			</div>
			<div class="datas">
				<p class="lead">hi，everyBody。我是Lemon1234网站的站长</p>
				<p class="lead">大家可以叫我陈胖子</p>
				<p class="lead">我呢来自美丽的内蒙古呼和浩特</p>
				<img class="img-thumbnail" src="/static/img/sky.jpg" width="30%;" height="auto;">
				<img class="img-thumbnail" src="/static/img/mountain.jpg" width="30%;" height="auto;">
				<p class="lead">是的，你没有看错，我其实是生活在都市的，并不在草原。我这里没有万马奔腾，更没有什么青青草原，只有蓝天白云，和一颗等你的心 ❤</p>
				
				<hr style="height:1px;border:none;border-top:1px solid #555555;" />
				
				<p class="lead">本人2018年毕业于 内蒙古科技大学，虽说不是什么211,985，但也是一座响当当的本科院校。</p>
				<p class="lead">大学专业主修计算机编程，主要方向：Java</p>
				<p class="lead">从事Java开发一年有余，虽说时间不是很长，但是也学到了不少知识，最起码你在学校是肯定接触不到的。</p>
				
				<hr style="height:1px;border:none;border-top:1px solid #555555;" />
				
				<p class="lead">工作之余没有啥爱好，最近又拿起了笔，准备将这个世界描绘出来。到时候弄个小系统，给大家分享一下我的画。</p>
				
				<hr style="height:1px;border:none;border-top:1px solid #555555;" />
				
				<p class="lead">各位老铁可以关注一下我的CSDN，还有哔哩哔哩，以及公众号，我会按时更新内容。</p>
				<p class="lead">平时技术文档我会在CSDN上更新，大家可以去看看，绝对简单易懂，而且保证程序绝对能运行，不能运行你来找我。</p>
				<p class="lead">bilibili上会更新一些视屏，给大家学习，到时候出项目，我也会把编写代码的所有步骤都录制成视屏，放在哔哩哔哩上。</p>
				<p class="lead">公众号呢是用来给大家公布一些活动，可以抽奖，比如说CSDN博客会员、百度云盘会员等等，奖品丰厚，等到后期关注的人多了，我们会弄一些大奖，年终年末啥的都会有活动，奖品吗，当然也会加倍，比如说ipad mini、Air pods等等，希望大家积极参加。</p>
				<p class="lead">到时候我会弄一个博客网站，把我CSDN博客上的内容会搬过来，当然，CSDN我会同步更新，</p>
				<p class="lead">CSDN 连接地址:&nbsp;<a href="https://blog.csdn.net/weixin_45908370" target="_black">胖子胖子大胖子的博客</a></p>
				<p class="lead">Bilibili 连接地址:&nbsp;<a href="https://space.bilibili.com/326113391" target="_black">胖子Java技术栈</a></p>
				<p class="lead">公众号</p>
				<img class="img-thumbnail" src="/static/img/public.jpg" width="30%;" height="auto;">
				
				<hr style="height:1px;border:none;border-top:1px solid #555555;" />
				
				<p class="lead">最后，附上本人的照片，看看长啥样，</p>
				<img class="img-thumbnail" src="/static/img/me.png" width="30%;" height="auto;">
				
				<div class="last_p">
					<p>陈胖子</p>
					<p>2020年&nbsp;4月&nbsp;18日</p>
				</div>
			</div>
		</div>
	</div>
</div>