<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="keywords" content="Java技术热点 |  – lemon1234.com">
<meta name="description" content="Java是世界第一编程语言，业界称之为“黄金语言”，关注我，让我带你一起走进这门语言。">
<title th:text="${title}"></title>
<!-- icon 引入 -->
<link rel="icon" href="/ico/favicon.ico" type="image/x-icon" />
<!-- css 引入 -->
<link rel="stylesheet" href="/css/lemon1234.css" />
<link rel="stylesheet" href="/css/empty.css" />
<link rel="stylesheet" href="/css/share.min.css" />
<link rel="stylesheet" href="/layui/css/layui.css" />
<link rel="stylesheet" href="/layui/css/modules/layer/default/layer.css" />
<link rel="stylesheet" href="/bootstrap3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/bootstrap3.3.7/css/bootstrap-theme.min.css" />
<!-- lemon1234.com Baidu 统计  analytics -->
<script type="text/javascript">
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?e9dfe748c23aaaaf169fb44ac66ac97c";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
<style type="text/css">
	body {
		cursor: url('/mouse/mouse.png'), auto;
	}
</style>
</head>

<body onload="ResizeImages(1150, 600, 'content')">
	<!-- head -->
	<div th:include="common/head::#head"></div>

	<!-- menu -->
	<div th:include="common/menu::#menu"></div>

	<!-- body 主体 -->
	<div th:include="${url}::${port}"></div>

	<!-- foot -->
	<div th:include="common/foot::#foot"></div>

	<!-- 绝对定位 -->
	<div style="position:fixed; left:60px; top:200px; border: 1px solid lightgrey; display: block;">
		<img src="/img/gzh.jpg" alt="胖子Java技术栈公众号" class="img-rounded" style="width: 140px; height: 140px; margin-left: 5px;">
		<div style="text-align: center; padding: 5px">
			<font>胖子Java技术栈公众号</font>
		</div>
		<img src="/img/xcx.jpg" alt="lemon1234官方小程序" class="img-rounded" style="width: 140px; height: 140px; margin-top: 10px; margin-left: 5px;">
		<div style="text-align: center; padding: 5px">
			<font>lemon1234官方小程序</font>
		</div>
	</div>
	
	<div style="position:fixed; right:30px; top:200px; border: 1px solid lightgrey; display: block; padding: 10px; width: 302px; height: 162px;">
		<span style="font-size: 18px;">告示栏</span>
		<div class="row" th:each="anno:${application.announcementList}">
			<div class="col-md-12">
				<a th:href="'/anno/' + ${anno.id}" target="_blank">
					<b th:if="${#strings.length(anno.title) <= 20}" th:text="${anno.yyyyMMdd} + ' ' + ${anno.title}" th:style="'color:'+${anno.color} + ';'"></b>
					<b th:if="${#strings.length(anno.title) > 20}" th:text="${anno.yyyyMMdd + ' ' + #strings.abbreviate(anno.title,20)}" th:style="'color:'+${anno.color} + ';'"></b>
				</a>
			</div>
		</div>
	</div>
	
</body>

<!-- js 引入 -->
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/layui/lay/modules/layer.js"></script>
<script src="/layui/layui.js"></script>
<script src="/js/common.js"></script>
<script src="/js/jquery.share.min.js"></script>

<script th:inline="javascript">
/*<![CDATA[*/
    
	layui.use(['carousel', 'element', 'form'], function(){
		var layer = layui.layer;
		var element = layui.element;
		$ = layui.jquery; // 使用jquery
		
		var carousel = layui.carousel,form = layui.form;
		  
		carousel.render({
			elem: '#carousel'
			,width: '1170px'
			,height: '440px'
			,interval: 5000
			,arrow: 'none'
		});
		
	});
	
	$('#share').share({sites: ['wechat','qzone', 'qq', 'weibo', 'facebook', 'twitter', 'google']});
	
	function submitRegister() {
		
		var id = $("#documentId").html();
		var name = $("#documentName").html();
		
		layer.open({
			type: 2,
			title: '失效连接投诉',
			area: ['600px', '400px'],
			content: '/info/submitRegister.html?id='+id+'&name='+name
		});
	}
	
	function submitMessage() {
		
		var liuyan = $("#liuyan").val().trim();
		
		if(liuyan == "") {
			layer.msg("请输入留言内容");
            return false;
		}
		if(liuyan.length > 500) {
			layer.msg("留言内容太长");
            return false;
		}
		
		$.post("/message/addMessage",{message:liuyan},function(result){
            if(result.success){
                layer.alert('留言成功！',function () {
                	parent.location.reload();
                });
            }else{
                layer.msg(result.errorInfo);
            }
        },"json");
	}
	
/*]]>*/
</script>

</html>