<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="Java技术热点 |  – lemon1234.com">
	<meta name="description" content="Java是世界第一编程语言，业界称之为“黄金语言”，关注我，让我带你一起走进这门语言。">
	<!-- BootStrap 移动端支持 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title th:text="${title}"></title>
<!-- icon 引入 -->
<link rel="icon" href="/ico/favicon.ico" type="image/x-icon" />
<!-- lemon1234.com Baidu 统计  analytics -->
<script type="text/javascript">
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?e9dfe748c23aaaaf169fb44ac66ac97c";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
<style type="text/css">
	html,body {
		height: calc(1vh) * 100;
	}
</style>
</head>

<body>
	<div class="container-fluid" style="margin-top: 20%;">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">
		        <img alt="Brand" width="100%" src="/img/404.png">
		      </a>
		    </div>
		  </div>
		</nav>
		<div class="alert alert-danger" role="alert">
			<h3 class="alert-link">页面开发中...如果可以尽量使用电脑版本</h3>
		</div>
	</div>
</body>

<script src="/js/jquery-1.11.2.min.js"></script>

<script>

</script>

</html>